<h1 class="what-we-do animated flipInX">What we do</h1>
<div class="info-box">
	<p> Our goal at RookieRecipes.com is to bring the world of cooking
	 to as many people as possible. Getting into cooking can be a bit
	  intimidating with all of the possibilities out there, but we
	   strive to make it as accessible as possible. We have included only
	   what is necessary, which makes for a much simpler, welcoming, and 
	   less overwhelming user experience. We've made it easy
	    to add your own recipes or view recipes added by others so you
	     can jump right in and get started!</p>
</div>
<div class="Flips animated fadeOut">
	<span class="origin animated flipInX">Cooking should be</span>
	<span class="firstFlip animated flipInX">simple,</span>
	<span class="secondFlip animated flipInX">creative,</span>
	<span class="thirdFlip animated flipInX">and fun!</span>
</div>
