<h1 class="what-we-do animated flipInX">Tools of the trade</h1>
<div class="info-box">
	<div>Every artist needs their chosen tools to create a masterpiece. Here's what we recommend to get started:</div>
	<img class="cookTools tongs" ng-show="pic == 1" src="./images/tongs.png">
	<img class="cookTools Mspatula" ng-show="pic == 2" src="./images/Mspatula.png">
	<img class="cookTools Rspatula" ng-show="pic == 3" src="./images/Rspatula.png">
	<img class="cookTools slotted" ng-show="pic == 4" src="./images/slotted.png">
	<img class="cookTools whisk" ng-show="pic == 5" src="./images/whisk.png">
	<img class="cookTools Cknife" ng-show="pic == 6" src="./images/Cknife.png">
	<img class="cookTools grater" ng-show="pic == 7" src="./images/grater.png">
	<img class="cookTools Bknife" ng-show="pic == 8" src="./images/Bknife.png">
	<img class="cookTools opener" ng-show="pic == 9" src="./images/opener.png">
	<img class="cookTools thermometer" ng-show="pic == 10" src="./images/thermometer.png">
	<img class="cookTools measuringCup" ng-show="pic == 11" src="./images/measuringCup.png">
	<img class="cookTools measuringSpoon" ng-show="pic == 12" src="./images/measuringSpoon.png">
	<img class="cookTools timer" ng-show="pic == 13" src="./images/timer.png">
	<img class="cookTools cuttingBoard" ng-show="pic == 14" src="./images/cuttingBoard.png">
	<img class="cookTools mixingBowl" ng-show="pic == 15" src="./images/mixingBowl.png">
	<img class="cookTools fryingPan" ng-show="pic == 16" src="./images/fryingPan.png">
	<img class="cookTools saucePan" ng-show="pic == 17" src="./images/saucePan.png">
	<img class="cookTools bakingPan" ng-show="pic == 18" src="./images/bakingPan.png">
	<img class="cookTools ovenMitts" ng-show="pic == 19" src="./images/ovenMitts.png">
	<ul class="recommendations">
		<li ng-mouseover="pic = 1" class="tongs">Locking tongs</li>
		<li ng-mouseover="pic = 2" class="Mspatula">Metal spatula</li>
		<li ng-mouseover="pic = 3" class="Rspatula">Rubber spatula</li>
		<li ng-mouseover="pic = 4" class="slotted">Slotted spoon</li>
		<li ng-mouseover="pic = 5" class="whisk">Whisk</li>
		<li ng-mouseover="pic = 6" class="Cknife">Chef's knife (8 to 9 inch blade)</li>
		<li ng-mouseover="pic = 7" class="grater">Grater</li>
		<li ng-mouseover="pic = 8" class="Bknife">Serrated bread knife</li>
		<li ng-mouseover="pic = 9" class="opener">Can opener</li>
		<li ng-mouseover="pic = 10" class="thermometer">Thermometer</li>
		<li ng-mouseover="pic = 11" class="measuringCup">Measuring cups</li>
		<li ng-mouseover="pic = 12" class="measuringSpoon">Measuring spoons</li>
		<li ng-mouseover="pic = 13" class="timer">Timer</li>
		<li ng-mouseover="pic = 14" class="cuttingBoard">Cutting board (wooden is preferred)</li>
		<li ng-mouseover="pic = 15" class="mixingBowl">Mixing bowl</li>
		<li ng-mouseover="pic = 16" class="fryingPan">Nonstick frying pan</li>
		<li ng-mouseover="pic = 17" class="saucePan">Nonstick sauce pan</li>
		<li ng-mouseover="pic = 18" class="bakingPan">Rimmed baking sheet</li>
		<li ng-mouseover="pic = 19" class="ovenMitts">Pot holders or oven mitts</li>
	</ul>
	<div>Not all of these are required for every recipe, but if you have all these tools in your kitchen you will be prepared to make any recipe you can imagine.</div>
</div>
