<div class="hero">
	<div class="headline">Cooking,<br> made <span class="bold">simple</span></div>
	<nav class="peek hvr-push">
		<a href="#recipeList">Take a peek <br><i class="fa fa-eye fa-lg"></i></a>
	</nav>
</div>
<div class="carousel">
	<div class="categories">Categories</div>
	<a href="#recipeList/chicken" class="chicken">
		<div class="tiles hvr-push">
			<div class="image chicken"></div>
			<div class="type">Chicken</div>
		</div>
	</a>
	<a href="#recipeList/beef" class="beef">
		<div class="tiles hvr-push">
			<div class="image beef"></div>
			<div class="type">Beef</div>
		</div>
	</a>
	<a href="#recipeList/seafood" class="seafood">
		<div class="tiles hvr-push">
			<div class="image seafood"></div>
			<div class="type">Seafood</div>
		</div>
	</a>
	<a href="#recipeList/vegetarian" class="vegetarian">
		<div class="tiles hvr-push">
			<div class="image vegetarian"></div>
			<div class="type">Vegetarian</div>
		</div>
	</a>
	<a href="#recipeList/other" class="other">
		<div class="tiles hvr-push">
			<div class="image pork"></div>
			<div class="type">Other</div>
		</div>
	</a>
</div>
